* {
    box-sizing: border-box;
}
html {
    min-width:500px;
    min-height: 500px;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
  
}

button:focus {
    outline: none;
}

.ql-editor p,
.ql-editor.ql-blank::before {
    font-size: 1.3em;
    font-weight: 100;
}

.pane {
    overflow-y: auto;
    /* padding: 10px; */
}

.sidebar {
    width: 20%;
    height: 100vh;
}

.sidebar--note {
    /* display: flex; */
}

.sidebar--header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar--header > h3 {
    font-size: 1.75rem;
}

.new-note {
    cursor: pointer;
    background-color: #195fc7;
    border: none;
    color: white;
    border-radius: 3px;
    height: 30px;
    width: 30px;
}

.first-note {
    cursor: pointer;
    background-color: #195fc7;

    border: none;
    color: white;
    border-radius: 3px;
    padding: 1rem;
}

.editor {
    width: 80%;
    height: 100vh;
}

.title {
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title--delete {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.title:hover .title--delete {
    display: block;
}

.note-summary:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
}


.text-snippet {
    padding-inline: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: #4A4E74;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dark .text-snippet {
    padding-inline: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-note {
    background-color: #195fc7;

}

.selected-note .text-snippet {
    color: white;
    font-weight: 700;
}

.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
    cursor: col-resize;
}

.split {
    display: flex;
}

.no-notes {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.delete-btn {
    display: none;
    background: none;
    border: none;
}

.title:hover > .delete-btn {
    display: block;
}

.trash-icon {
    cursor: pointer;
}

 .gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}

.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
} 



.toggler{
    display: flex;
    align-items: center;
}

.toggler p{
    font-size: 0.625rem;
    font-weight: 600;
}
.toggler--slider{
    width: 25px;
    height: 13px;
    background-color: black;
    border-radius: 2rem;
    margin-inline:7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
}
section.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}
.toggler--slider--circle{
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}
section.dark .toggler--slider--circle {
    background-color: rgb(17, 15, 15);
}
.toggler--light {
    color: #2B283A;
}

section.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

section.dark .toggler-dark {
    color: #FFFFFF;
}

section.dark .toggler--slider {
    justify-content: flex-end;
}
.dark{
    
    background: black;
    color: white;
    position: relative;
   

}
/* Dark mode styles */
.ReactMde .dark-editor {
    background-color: #333;
    color: #fff;
  }


  
  /* Light mode styles */
.light {
    background-color: #131010;
    color: #ece3e3;
  }
 
  .editor{
    position: relative;
  }
  .moving-blob {
    position: absolute; /* Position the blob vector absolutely within the container */
    top: 50%; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%);
    z-index: -3;
    
    /* Apply CSS animation for movement */
    animation: moveBlob 2s linear infinite;
}

  
  @keyframes moveBlob {
    0% {
      transform: translate(-50%, -50%); /* Initial position */
    }
    50% {
      transform: translate(-50%, -50%) translateX(20px); /* Adjust the horizontal movement */
    }
    100% {
      transform: translate(-50%, -50%); /* Back to the initial position */
    }
  }


  .dark .hero-section-right{
    position: relative;
    background-color: #131010;
  } 
 

.moving-blob1 {
    position: absolute;
  
    top: 50%; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%);
    animation: moveBlob 2s linear infinite;

  }
  
  
